.letter {

  width: 212.5px; /*resize as you see fit */
  height: 391px; /*resize as you see fit */
  display: inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
  border: 1px solid #000; /*feel free to remove or hide this rule */
  position: relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
  overflow: hidden;
}



/* LETTER COMPONENTS */
/* space in between vertical strokes must be 30.5px */
#vertical-left {
  background-color: #000000;
  width: 30.5px;
  height: 210px;
  position: absolute;
  left: 0px;
  top: 45.5px;
}

#vertical-right {
  background-color: #000000;
  width: 30.5px;
  height: 210px;
  position: absolute;
  left: 61px;
  top: 45.5px;
}

/* Moon @ https://css-tricks.com/the-shapes-of-css/ */
/* Moon width & height should be 91px */
#apex-left {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 30.5px;
  top: 0px;
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-225deg);
}

#apex-right {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: -29.5px; /* to account for .b-apex-hidden */
  top: 0px;
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-45deg);
}

#leg-left {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 30.5px;
  top: -45.5px; /* to account for .leg-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-225deg);
}

#leg-right {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 91.5px;
  top: -45.5px; /* to account for .leg-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-225deg);
}

#leg-right-reversed {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: -29.5px;
  top: -45.5px; /* to account for .leg-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-45deg);
}

#crossbar {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 30.5px;
  top: 0px; /* to account for .crossbar-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-225deg);
}

#ear-left {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: -60.5px;
  top: 0px;
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-45deg);
}

#vertical-ear {
  background-color: #000000;
  width: 30.5px;
  height: 210px;
  position: absolute;
  left: 30px;
  top: 45.5px;
}

#middle-bottom {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: -60.5px; /* to account for .middle-bottom-hidden */
  top: 0px; /* to account for .middle-bottom-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-45deg);
}

#vertical-right-top {
  background-color: #000000;
  width: 30.5px;
  height: 88.5px;
  position: absolute;
  left: 91px;
  top: 45.5px;
}

#vertical-right-bottom {
  background-color: #000000;
  width: 30.5px;
  height: 37px;
  position: absolute;
  left: 91px;
  top: 218px;
}

#middle-top {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: -60.5px; /* to account for .middle-bottom-hidden */
  top: -43.5px; /* to account for .middle-bottom-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-45deg);
}

#vertical-d {
  background-color: #000000;
  width: 30.5px;
  height: 210px;
  position: absolute;
  left: 91px;
  top: 45.5px;
}

#vertical-m {
  background-color: #000000;
  width: 30.5px;
  height: 210px;
  position: absolute;
  left: 152px;
  top: 45.5px;
}

#leg-m {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 152.5px; /* to account for .h-leg-hidden */
  top: -45.5px; /* to account for .h-leg-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-225deg);
}

#leg-right-u {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 91.5px; /* to account for .h-leg-hidden */
  top: -45.5px; /* to account for .h-leg-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-225deg);
}

#vertical-w {
  background-color: #000000;
  width: 30.5px;
  height: 210px;
  position: absolute;
  left: 152px;
  top: 45.5px;
}

#leg-w {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 31.5px; /* to account for .b-bottom-hidden */
  top: -45.5px; /* to account for .b-bottom-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-45deg);
}

#apex-w {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 31.5px; /* to account for .b-apex-hidden */
  top: 0px;
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-45deg);
}

#vertical-left-bottom {
  background-color: #000000;
  width: 30.5px;
  height: 37px;
  position: absolute;
  left: 0px;
  top: 218px;
}

#e-apex-right {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 1px; /* to account for .b-apex-hidden */
  top: 0px;
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-45deg);
}

#vertical-top-x {
  background-color: #000000;
  width: 30.5px;
  height: 88.5px;
  position: absolute;
  left: 30px;
  top: 45.5px;
}

#vertical-bottom-x {
  background-color: #000000;
  width: 30.5px;
  height: 37px;
  position: absolute;
  left: 30px;
  top: 218px;
}

#middle-bottom-left {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 60.5px; /* to account for .middle-bottom-hidden */
  top: 0px; /* to account for .middle-bottom-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-225deg);
}

#middle-top-left {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 60.5px; /* to account for .middle-bottom-hidden */
  top: -45.5px; /* to account for .middle-bottom-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-225deg);
}

#tail-top {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: -40px; /* to account for tail-top-hidden */
  top: 0px;
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-45deg);
}

#tail-bottom {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 81px; /* to account for tail-bottom-hidden */
  top: -45.5px;
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-225deg);
}

#c-curve {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: -60.5px; /* to account for .c-curve-hidden */
  top: 0px; /* to account for .c-curve-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-45deg);
}

#vertical-c-bottom {
  background-color: #000000;
  width: 30.5px;
  height: 37px;
  position: absolute;
  left: 61px;
  top: 218px;
}

#vertical-y {
  background-color: #000000;
  width: 30.5px;
  height: 88.5px;
  position: absolute;
  left: 30px;
  top: 45.5px;
}

#middle-y {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 60.5px; /* to account for .middle-bottom-hidden */
  top: -43.5px; /* to account for .middle-bottom-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-225deg);
}

#bottom-left-y {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 60.5px;
  top: 0px; /* to account for .leg-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-225deg);
}

#vertical-left-y {
  background-color: #000000;
  width: 30.5px;
  height: 37px;
  position: absolute;
  left: 30px;
  top: 218px;
}

#g-spur {
  width: 90.6px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 30.5px; /* to account for .g-spur-hidden */
  top: -45.5px; /* to account for .g-spur-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-225deg);
}

#g-middle-spur {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: 30.5px; /* to account for .g-spur-hidden */
  top: 10px; /* to account for .g-spur-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-225deg);
}

#g-curve {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: -45.5px; /* to account for .c-curve-hidden */
  top: -40px; /* to account for .c-curve-hidden */
  box-shadow: 21.6px 21.6px 0 0 #000000;
  transform: rotate(-45deg);
}

#vertical-g {
  background-color: #000000;
  width: 30.5px;
  height: 90px;
  position: absolute;
  left: 61px;
  top: 169px;
}



/* Moon Whiteouts within the letter */
#whiteout-l {
  width: 90.6px;
  height: 95px;
  border-radius: 50%;
  position: absolute;
  left: -92px; /* to account for .middle-bottom-hidden */
  top: -10px; /* to account for .middle-bottom-hidden */
  box-shadow: 21.6px 21.6px 0 0 #ffffff;
  transform: rotate(-45deg);
}

#whiteout-j {
  width: 95px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: 60px; /* to account for .middle-bottom-hidden */
  top: -7px; /* to account for .middle-bottom-hidden */
  box-shadow: 21.6px 21.6px 0 0 #ffffff;
  transform: rotate(-225deg);
}

#whiteout-e {
  width: 96px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: -32px;
  top: 3.5px;
  box-shadow: 21.6px 21.6px 0 0 #ffffff;
  transform: rotate(-45deg);
}

#whiteout-c {
  width: 96px;
  height: 90.6px;
  border-radius: 50%;
  position: absolute;
  left: -62.5px;
  top: 3.5px;
  box-shadow: 21.6px 21.6px 0 0 #ffffff;
  transform: rotate(-45deg);
}

#whiteout-c-curve {
  width: 90.6px;
  height: 95px;
  border-radius: 50%;
  position: absolute;
  left: -92px; /* to account for .c-curve-hidden */
  top: -10px; /* to account for .c-curve-hidden */
  box-shadow: 21.6px 21.6px 0 0 #ffffff;
  transform: rotate(-45deg);
}



/* OVERFLOW:HIDDEN @ https://developer.mozilla.org/en-US/docs/Web/CSS/overflow */
/* using OVERFLOW:HIDDEN instead of whiteout shapes to hide excess */
.apex-hidden {
  height: 45.5px;
  width: 91.5px;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0px;
}

.leg-hidden {
  height: 45.5px;
  width: 122px;
  position: absolute;
  left: 0px;
  top: 255px;
  overflow: hidden;
}

.crossbar-hidden {
  height: 45.5px;
  width: 61px;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 173px;
}

.ear-hidden {
  height: 45.5px;
  width: 91.5px;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0px;
}

.b-apex-hidden {
  height: 45.5px;
  width: 152.5px;
  position: absolute;
  overflow: hidden;
  left: 30px;
  top: 0px;
}

.b-bottom-hidden {
  height: 45.5px;
  width: 152.5px;
  position: absolute;
  left: 30px;
  top: 255px;
  overflow: hidden;
}

.middle-bottom-hidden {
  height: 45.5px;
  width: 61px;
  position: absolute;
  overflow: hidden;
  left: 61px;
  top: 173px;
}

.middle-top-hidden {
  height: 45.5px;
  width: 61px;
  position: absolute;
  overflow: hidden;
  left: 61px;
  top: 131px;
}

.h-leg-hidden {
  height: 45.5px;
  width: 182px;
  position: absolute;
  left: 30px;
  top: 255px;
  overflow: hidden;
}

.h-crossbar-hidden {
  height: 45.5px;
  width: 61px;
  position: absolute;
  overflow: hidden;
  left: 30px;
  top: 173px;
}

.m-apex-hidden {
  height: 45.5px;
  width: 91.5px;
  position: absolute;
  overflow: hidden;
  left: 91px;
  top: 0px;
}

.e-crossbar-hidden {
  height: 45.5px;
  width: 61px;
  position: absolute;
  overflow: hidden;
  left: 30px;
  top: 143px;
}

.middle-bottom-left-hidden {
  height: 45.5px;
  width: 91px;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 173px;
}

.middle-top-left-hidden {
  height: 45.5px;
  width: 91px;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 133px;
}

.middle-p-hidden {
  height: 60px;
  width: 61px;
  position: absolute;
  overflow: hidden;
  left: 61px;
  top: 131px;
}

.tail-top-hidden {
  height: 45.3px;
  width: 91.5px;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 290px;
}

.tail-bottom-hidden {
  height: 45.3px;
  width: 122px;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 335.5px;
}

.c-curve-hidden {
  height: 45.5px;
  width: 61px;
  position: absolute;
  overflow: hidden;
  left: 31px;
  top: 173px;
}

.middle-y-hidden {
  height: 60px;
  width: 91px;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 131px;
}

.bottom-left-y-hidden {
  height: 45.5px;
  width: 91px;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 172.5px;
}

.g-spur-hidden {
  height: 45.5px;
  width: 91px;
  position: absolute;
  overflow: hidden;
  left: 61px;
  top: 255px;
}

.g-middle-spur-hidden {
  height: 35px;
  width: 91px;
  position: absolute;
  overflow: hidden;
  left: 59.5px;
  top: 133.5px;
}

.g-curve-hidden {
  height: 35px;
  width: 59px;
  position: absolute;
  overflow: hidden;
  left: 37px;
  top: 168px;
}
